@using Core
@model List<Track>
@{ 
    int counter = 1;
}

<table class="table table-bordered table-hover table-responsive table-striped">
    <tr><th>#</th><th>Track</th><th>Duration</th></tr>
   @foreach(Track track in Model)
    {
       <tr>
           <td>@counter</td>
           <td>
               <img class="img-circle" src="@track.PictureLink" />
               @track.Name
           </td>
           <td>@track.Duration</td>
       </tr>
       counter++;
    }
</table>