@using Core
@model Artist
@{}

<h1>Top Albums</h1>
<div class="row">
    @foreach (Album album in Model.Albums)
    {
        <a href="/Home/ArtistAlbum?artistName=@Model.Name&albumName=@album.Name">
            <div class="col-lg-2">
                <img class="img-rounded center-block" src="@album.GetPictureLink()" />
                <p class="text-center">@album.Name</p>
            </div>
        </a>
    }
</div>