@using MusicPortal.Models
@model List<Artist>
@{
    ViewData["Title"] = "Home Page";
}
<h1>Last.fm Top Artists</h1>
<div class="row">
    @foreach (Artist artist in Model)
     {
        <a href="/Home/ArtistProfile?name=@artist.Name">
            <div class="col-lg-2">
                <img class="img-rounded center-block" src="@artist.GetPictureLink()" />
                <p class="text-center">@artist.Name</p>
            </div>
        </a>
     }
</div>