@using Core
@model Index
@{
    ViewData["Title"] = "Home Page";
}
<h1>Last.fm Top Artists</h1>

<div class="row">
    @foreach (Artist artist in Model.Artists)
    {
        <a class="pick_out_block" href="/Home/ArtistProfile?name=@artist.Name">
            <div class="col-lg-2">
                <img class="img-rounded center-block" src="@artist.PictureLink" />
                <p class="text-center">@artist.Name</p>
            </div>
        </a>
    }
</div>
@Html.Partial("_PartialPagination", Model)
