@using MusicPortal.Models
@model List<Artist>
@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    @foreach (Artist artist in Model)
    {
    <div class="col-lg-2">
        <img class="img-rounded center-block" src="@artist.GetPictureLink()" />
        <p class="text-center">@artist.Name</p>
    </div>
    }
</div>