@using Core
@model List<Artist>
@{
    ViewData["Title"] = "Home Page";
}
<h1>Last.fm Top Artists</h1>
<div id="top_artists" class="row">
    @Html.Partial("_PartialArtistsOnStartPage", Model)
</div>
<div id="newPagination">
    @Html.Partial("_PartialPagination", new Pagination(1, 12))
</div>
